name: tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-gui:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 19.x]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - run: cd gui
    - run: npm ci
    - run: npm run build
      env:
        CI: true
